:root {
    --content: #24232385;
    --white: #ffffff;
    --text:#b3b3b3;

}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: gray;
}


.container {
    background-color: black;
    padding: 5px;

    display: flex;
    justify-content: center;
    gap: 6px;
    color: var(--white);

}

.left {
    /* background-color: var(--content); */
    width: 25vw;
    height: 99vh;
    color: var(--text);
    /* padding: 5px */
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.right {
    background-color: var(--content);
    width: 75vw;
    height: calc(100vh-5px);
    position: relative;
    overflow: hidden;
}

.border {
    border-radius: 7px;
    border: none;

}